#myName {
    font-family: 'Karla', sans-serif;
    color: rgb(85, 84, 84);
    font-size: 35px;
}

ul.nav.navbar-nav.navbar-right a {
    color: black;
    font-family: 'Gudea', sans-serif;
    text-decoration: none;
    background-color: transparent;
    font-size: 25px;
    margin-left: 40px;
    color: rgb(85, 84, 84);
    
}
.navbar {
    padding: 20px;
    background-color: white;
    border-bottom:  2px solid orange;
}

.my-pic {
    height: 220px;
    width: 220px;
    border-radius: 150px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border: 2px solid orange;
}

#me {
    font-size: 25px;
    color: rgb(85, 84, 84);
    font-family: 'Karla', sans-serif;
    padding: 0 15%;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid orange;
}
footer {
    text-align: center;
    background-color: rgba(105, 105, 105, 0.479);
    color: white;
}
footer a {
    color: white;
    font-size: 27px;
    padding: 20px;
}

/* Projects Page  */
.projectTitle {
    font-family: 'Karla', sans-serif;
    color: rgb(85, 84, 84);
    text-align: center;
    font-size: 40px;
    padding: 50px;   
}

.thumbnail {
    height: 575px;
    box-shadow: 7px 7px 20px 0px rgb(0 0 0);
    padding: 20px;
}

.projects img {
    height: 285px;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 30px;
    border-radius: 20px;
}
.caption {
    background: rgb(233, 230, 230);
    border-radius: 20px;
    color: white;
    font-family: 'Gudea', sans-serif;
    
}
h3 {
    font-size: 30px;
    color: rgb(85, 84, 84);
    font-weight: bolder;
}

p {
    font-size: 20px;
    color: rgb(85, 84, 84);
    font-weight: bolder;
}
.btn {
    color: white;
    border: 1px solid grey;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    background: orange;
}

#connect {
        font-size: 25px;
        color: rgb(85, 84, 84);
        font-family: 'Karla', sans-serif;
        padding: 10% 15%;
        text-align: center;
}
/* contact info */
.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 200px 50px;
}
.fab, .fa {
    color: orange;
}

/* skills page*/

.skill {
    text-align: center;
    padding-top: 70px;
}

.label {
    font-size: 20px;
    display: inline-block;
    margin: 5px;
    font-family: 'Karla', sans-serif;
    box-shadow: 7px 7px 20px 0px rgb(0 0 0);
    border-radius: 20px;
    background: white;
    color: black;
    height: 50px;
    width: 120px;
    text-align: center;
    line-height: 1;
}
