body {
	color: white;
  }
  .image-background {
	height: 100vh;
	min-height: 500px;
	background-image: url("https://images.unsplash.com/photo-1487284122274-e864e9dec2bf?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTA5fHxvdmVybGF5JTIwdGVjaG5vbG9neXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  }

  .container {
	padding-top: 250px;

  }
  .lead {
	font-family: fantasy;
	display: flex;
	align-items: center;
	font-size: 60px;
	margin-bottom: 0px;
	margin-top: 0px;
	justify-content: center;
  }
.display-2 {
	font-family: fantasy;
	display: flex;
	align-items: center;
	font-size: 60px;
	margin-bottom: 0px;
	margin-top: 0px;
	justify-content: center;
}
.btn {
	display: flex;
	color: white;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-size: 100px;
}
.learnMore {
	border: 1px;
	border-radius: 15px;
	font-size: 50px;
	font-family: fantasy;
	color: white;
	align-items: center;
	justify-content: center;
	background-color: red;
}